 
<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
    <span>Hotel Management System</span>
        
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content> -->
        <form [formGroup]="profileForm" (ngSubmit)="signUp()">
            <div class="bgimage">
            <div class="example-container">
              <mat-card>
                  <!-- <div>
                      <mat-form-field> 
                        <input matInput placeholder="First Name" formControlName="username" required>
                        <mat-error *ngIf="profileForm.get('username').invalid">{{getFirstNameErrorMessage()}}</mat-error>
                      </mat-form-field>
                    </div> -->

                <div>
                    <mat-form-field> 
                      <input matInput placeholder="user name" formControlName="username" required>
                      <mat-error *ngIf="profileForm.get('username').invalid">{{getUserErrorMessage()}}</mat-error>
                    </mat-form-field>
                  </div>
                 <div>
                <mat-form-field>
                  <input matInput placeholder="Type email" formControlName="email" required>
                  <mat-error *ngIf="profileForm.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>   
              <div>
                  <mat-form-field> 
                    <input matInput placeholder=" Type password" type="password"formControlName="password" required>
                    <mat-error *ngIf="profileForm.get('password').invalid">{{getPasswordErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
        
                <div>
                  <mat-form-field> 
                    <input matInput placeholder="Type phone number" formControlName="phoneNumber" required>
                    <mat-error *ngIf="profileForm.get('phoneNumber').invalid">{{getPhoneNumberErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                      <div>
                      <mat-radio-group formControlName="role" aria-label="Select an option">
                          <mat-radio-button value="2">Merchant</mat-radio-button>
                          <mat-radio-button value="3">User</mat-radio-button>
                        </mat-radio-group>
                      </div>

                      <br>
                      <div>
                                      <button mat-raised-button button="submit" color="primary" >Sign Up</button>
                                    </div>
                      
                    </mat-card> 
                     
                </div>
           
               
            </div>
          </form>
      <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="signUp()" color="primary">Sign Up</button>
    </mat-card-actions>
  </mat-card>
    -->