span{
    background-color: #77e077;
    }
    i{
    font-size: 10px;
    }
    .book{
    margin-bottom: 23px;
    background-color: #df5b71;
    }
    .view{
    margin-bottom: 23px;
    background-color: #4747f0;
    }
    b{
    margin-left: 35px
    }
    div{
    margin-left: 10px;
    }