<br>
<!-- <mat-toolbar color=""></mat-toolbar> -->

<div fxLayout="row">
<img src="../../../assets/images/download.jpeg"><br>

 
<div style="padding-left: 10px;">
 <span>{{appBookingItem.name}}</span><br>
 {{appBookingItem.location}}<br>
 {{appBookingItem.amenities}}<br>
 {{appBookingItem.averageRating}}
 {{appBookingItem.price}}<br>
 <div>
  <button mat-raised-button class="view"color="accent">View Details</button>
 <button mat-raised-button color="primary">Book Now</button>&nbsp;
</div>
</div>
</div>
 <!-- <div  *ngFor="let review of reviews" >
    {{review}}
    
     </div>
    </div> -->